@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

a {
    color: inherit;
    text-decoration: none;
}
body {
    font-family: "Poppins", serif;
}

li {
    list-style: none;
}

header{
    position: relative;
}

.center {
    margin: 20px auto;
}

.p-600 {
    font-weight: 600;
}

.usefull-links {
    background-color: #1a1a2e;
    width: 100vw;
    color: white;
    height: 120px;
}

.usefull-links nav {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    gap: 10px;
}

.usefull-links nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.usefull-links nav ul > li {
    padding: 0 15px;
}

#help li:nth-child(2) {
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.nav-bar {
    justify-content: space-evenly;
    left: 50%; 
    transform: translateX(-50%);
    width: 70%;
    background-color: white;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    height: 60px;
    bottom: -30px;
}

.nav-bar nav ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-weight: 650;
}

.logo > h1 {
    font-size: 3rem;
    color: #379c55;
}

.logo h1::first-letter {
    color: #6749b9; 
}

.background-img {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 80vh;
    background-image: url('images/game-console.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70%;
    filter: brightness(80%);
}

.tradition{
    height: 80vh;
}
.tradition .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

.tradition .text-container > h6{
    font-size: 1.8rem;
    margin-top: 200px;
}

.tradition .text-container > h2{
    margin: 0 auto;
    font-size: 6rem;
}

.btn-dark-purple {
    width: fit-content;
    padding: 7px 15px;
    color: #fff;
    background-color: #1a1a2e;
    border: 1px solid #fff;
    border-color: #fff;
    border-radius: 20px;
}

.btn-dark-purple:hover {
    width: fit-content;
    padding: 7px 15px;
    color: #1a1a2e;;
    background-color: #fff;
    border: 1px transparent;
    border-radius: 20px;
}

.btn-green {
    width: fit-content;
    margin: 20px 0;
    padding: 7px 15px;
    color: #fff;
    background-color: #379c55;
    border: 1px transparent;
    border-radius: 20px;
}
.btn-green:hover {
    width: fit-content;
    padding: 7px 15px;
    color: #379c55;
    background-color: #fff;
    border: 1px transparent;
    border-radius: 20px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    align-items: center;
    background-color: #1a1a2e;
    margin: auto;
    padding: 50px 0;
    border-top: 5px solid #fff;
}

.info-container p {
    color: #fff; 
}

.info-container > h2 {
    margin-bottom: 15px;
    color: #fff;
    font-size: 2rem;
    opacity: 100%;
}


.info-container > h2::before{
    content: "";
    display: block;
    width: 80px; 
    height: 4px;
    background-color: #1a1a2e;
    margin: 10px auto;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #fff;
    width: 80%;

}

.info.img-container {
    height: 100%
}

.info .img-container img {
    width: 400px;
    height: auto;
}

.info .about-us {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap:30px;
    

}

.info .our-features {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.info .our-features li {
    margin-bottom: 15px;
}

.info .our-features li > i {
    color: #379c55;
    margin-right: 15px;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap:15px;
    margin: 5px 0;
    background-color: #1a1a2e;
    color: #fff;

}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer ul > li a {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid #379c55;
    border-radius: 50%;
    border-color: #379c55;
    color: #379c55;
    font-size: 20px; 
    margin: 5px;
}

footer .contacts {
    display: flex;
    flex-direction: row;
    gap:20px;

}


footer .contacts h6 {
    font-size: 1rem;
    font-weight: 500;
}

footer .contacts p {
    font-size: 0.8rem;
    margin: 5px 0;
}

footer .opening-hours {
    border-left: 1px solid black;
    padding-left: 20px;
}

footer > p {
    margin-top: 20px;
    margin-bottom: 50px;
}

footer > p > span {
    color: #1a1a2e;;
}